:root {
    --bg-color: whitesmoke;
    --text-color: black;
    --footer-bg: lightgrey;
  }

 body.dark-mode {
    --bg-color: black;
    --text-color: whitesmoke;
    --footer-bg: darkgrey;
  }
  body {
  direction: rtl;
  font-family: Arial, sans-serif;
  background-color:var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: flex-start;
  padding-top: 120px;       
  min-height: calc(100vh - 100px - 100px); 
  box-sizing: border-box;
  text-align: center;
}
 
.Hero-Section {
  background-color:var(--bg-color);
  padding: 120px 20px 50px 20px;
}
.hero-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; 
  text-align: center;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

.hero-text p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
}