html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;  
  align-items: center;      
  padding: 20px;
  text-align: center;
  flex-direction: column;
}


footer {
  height: 100px;
  background-color: var(--footer-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}