
:root {
    --bg-color: whitesmoke;
    --text-color: black;
    --footer-bg: lightgrey;
  }

 body.dark-mode {
    --bg-color: black;
    --text-color: whitesmoke;
    --footer-bg: darkgrey;
  }
  body {
  direction: rtl;
  font-family: Arial, sans-serif;
  background-color:var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
 .Hero-Section {
  background-color:var(--bg-color);
  padding: 120px 20px 50px 20px;
}

.hero-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; /* מאפשר שבירה לשורות במובייל */
  text-align: center;
}

/* עיצוב הטקסט */
.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

.hero-text p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
}

.hero-text a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 5px;
}

/* עיצוב התמונה */
.profile_img img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

/* רספונסיביות למסכים צרים */
@media (max-width: 768px) {
  .hero-flex-container {
    flex-direction: column;
  }

  .profile_img img {
    width: 150px;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.column {
  flex: 1;
  min-width: 300px;
  background-color:var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  box-sizing: border-box;
}

/* יצירת קשר */
.contact h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact li {
  margin-bottom: 15px;
}

.contact a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.icon {
  width: 10%;
  height: 10%;
  margin-left: 10px;
}

/* פרויקט */
.project h2 {
  margin-top: 0;
}

.project p {
  margin: 10px 0;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--bg-color)5;
  padding: 10px 15px;
  border-radius: 5px;
}

.project img {
  width: 30%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* מובייל */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
